# ==========================================
# Core OS & Editors (Linux, macOS, VS Code, Neovim)
# ==========================================

# macOS
.DS_Store
.localized
__MACOSX/
._*

# Linux
~*
.directory

# Neovim / Vim
*.swp
*.swo
*~
.netrwhist
.nvimlog

# Visual Studio Code
.vscode/
*.vsix
.vscode-test


# ==========================================
# Python Setup (Interpreter, Venv, Caches)
# ==========================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
.installed.cfg
*.egg

# Testing & Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage/
htmlcov/


# ==========================================
# Node.js & Frontend Tools
# ==========================================

# Dependencies
node_modules/
jspm_packages/

# Logs & Runtime
logs
*.log
npm-debug.log*
yarn-debug.log*
pids
*.pid
*.seed

# Caches
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.vite/
.turbo/



# ==========================================
# Project-Specific
# ==========================================
# Ignore all contents of the test config folder...
manifest/config/*
# ...but keep the folder itself in Git so the path structure exists
!manifest/config/.gitkeep
